.App {
  text-align: center;
}
.carousel-control-next {
  color: blue !important;
}
.carousel-control-prev {
  color: blue !important;
}
.css-10p2e9r {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.my-facebook-button-class {
  padding: 9px;
  margin-left: 2%;
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}
.fa-facebook {
  color: blue;
  padding-right: 20px;
}
.MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
}
.css-aqqxug-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper,
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.87) !important;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  border-radius: 4px !important;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  max-height: calc(100% - 96px) !important;
  -webkit-overflow-scrolling: touch !important;
  box-shadow: none !important;
  position: absolute !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  min-width: 16px !important;
  min-height: 16px !important;
  max-width: calc(100% - 32px) !important;
  max-height: calc(100% - 32px) !important;
  outline: 0 !important;
  overflow: visible !important;
  -webkit-filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.32)) !important;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.32)) !important;
  margin-top: 12px !important;
  opacity: 1;
  transform: none;
  transition: opacity 265ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 176ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  top: 83px !important;
  left: 1265px !important;
  transform-origin: 127px 0px;
}


